<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exp_type.description %>
</p>

<%= link_to 'Edit', edit_exp_type_path(@exp_type) %> |
<%= link_to 'Back', exp_types_path %>
