<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @responsible.description %>
</p>

<%= link_to 'Edit', edit_responsible_path(@responsible) %> |
<%= link_to 'Back', responsibles_path %>
